<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="feedetails">
<link rel="stylesheet" type="text/css" th:href="@{/css/feedetails.css}">

<meta charset="UTF-8">
</head>
<body>
	<section th:fragment="feedetails">
		<div class="names">
			<div class="name">Fee Details :</div>
		</div>

		<div class="main-div">

			<div class="section">
				<div class="parts">
					<label class="">Registration fee : <input class="feebox-2"
						type="text" placeholder=""></label>

				</div>

				<div class="parts">
					<label class="">Disc (%) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Disc ($) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Reg Final Amount : <input class="feebox-2"
						type="text" placeholder=""></label>

				</div>
			
			</div>


		<div class="section">
				<div class="parts">
					<label class="">Consultation fee : <input class="feebox-2"
						type="text" placeholder=""></label>

				</div>

				<div class="parts">
					<label class="">Disc (%) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Disc ($) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Cons Final fee : <input class="feebox-2"
						type="text" placeholder=""></label>

				</div>
			
			</div>
			
			<div class="section">
				<div class="parts">
					<label class="">Total Amount : <input class="feebox-2"
						type="text" placeholder="Total Amount"></label>

				</div>

				<div class="parts">
					<label class="">Disc (%) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Total Discount"></label>
				</div>
				
				<div class="parts">
					<label class="">Disc ($) :
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Total Discount"></label>
				</div>
				
				<div class="parts">
					<label class="">Total Bill Amount : <input class="feebox-2"
						type="text" placeholder="Bill Amount"></label>

				</div>
			
			</div>
			
			
			<div class="section">
				<div class="parts">
					<label class="">Amt Received : <input class="feebox-1"
						type="text" placeholder="Enter Amount"></label>

				</div>

				<div class="parts">
					<label class="">Change_Given:
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Balance:
					<br>
					 <input class="feebox-1"
					type="text" placeholder="Fee"></label>
				</div>
				
				<div class="parts">
					<label class="">Status: <input class="feebox-1"
						type="text" placeholder=""></label>

				</div>
			
			</div>
			


		</div>



	</section>




</body>
</html>