<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">

</head>
<body>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Your Website Name. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer></body>
</html>