#button{
    margin-top: 10px;
    width: 175px;
    height: 30px;
    border-style: none;
    margin-left: 10px;
    background-color: rgb(76, 109, 255);
    color:white;
}
label{
  margin-left: 25px;  
}
#button1{
    margin-top: 15px;
    height: 30px;
    width: 60px;
    border-style: none;
    border-radius: 3px;
    background-color: rgb(76, 255, 180);
   
}